@{
    ViewBag.Title = "Edit Distance";
}


@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
        </div>
    </section>
}

@using(Ajax.BeginForm(  
  "EditDistance",
  "Levenshtein",
  new AjaxOptions {
    HttpMethod = "Post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "Results",}))
{
    <p>
    @Html.Label("Comma-seperated list of tags:")
    @Html.TextBox("tags") <br />
    @Html.Label("Search Term:")
    @Html.TextBox("search") <br />
    <input type="submit" name="submit" value="Search" /></p>
}

<div id="Results">
    Search Results...
</div>